<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/login" routerDirection="back">
        <ion-icon style="font-size: 30px;" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Digite o email para recuperar a senha</h1>
<img style="height: 150px; width: 150px; margin: auto; display: block;" src="/assets/img/email.png">
    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>      
      <ion-button expand="block" class="main-button" (click)="passwordReset(email)">Enviar Email</ion-button>
    </div>
  </div>
</ion-content>
